.tevinis{
    padding: 5px;
    background-color: blue;
}
.vaikinis{
    padding: 5px;
    background-color: brown;
}
.vaikinis1{
    padding: 10px;
    background-color: red
}
vaikinis2{
    padding: 10px;
    background-color: orange;
}